<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Soramame_dachi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Soramame_dachi.Properties.Settings>
            <setting name="count" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="food" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fun" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="water" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="closeDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="openDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="firstOpen" serializeAs="String">
                <value>True</value>
            </setting>
        </Soramame_dachi.Properties.Settings>
    </userSettings>
</configuration>